.logo {
    text-decoration: none;
}

.page-nav {
    text-decoration: none;
}

.auth-nav {
    text-decoration: none;
    list-style: none;
}

.site-nave {
    text-decoration: none;
    list-style: none;
}
.site-nave :hover,
.site-nave :focus {
    color:red;
    }

    .logo span {
    color: #4D5AE5;
    }